.main {
   justify-content: center;
   padding-bottom: 2rem;
}

.image {
   max-width: 100%;
   height: auto;
   padding: 0 1rem;
}

.info {
   padding: 0 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.name {
   margin-bottom: 0.5rem;
   font-size: 1.2rem;
   font-weight: 700;
}

.price {
   margin-bottom: 1rem;
   font-size: 1.2rem;
   font-weight: 700;
   color: #017AB1;
}

.description {
   margin-bottom: 1rem;
   opacity: 0.8;
   font-size: 0.8rem;
   text-align: justify;
}

.qty {
   margin-bottom: 1rem;
   opacity: 0.8;
   font-size: 0.8rem;
}

.status {
   margin-left: 0.5rem;
   opacity: 0.6;
   font-size: 0.6rem;
}