.drawerMenu {
  display: flex;
  flex-direction: column;
  font-family: SweiSansCJKtc-Regular;
}

.menu {
  font-family: SweiSansCJKtc-Regular;
  font-size: 0.9rem;
  background-color: #14141400 !important;
}

.navSection {
  display: none;
}

.navLink {
  font-size: 1rem;
  /* font-weight: 700; */
  text-align: center;
  margin-right: 0;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.navLink:hover {
  opacity: 1;
}

.navLinkActive {
  composes: navLink;
  opacity: 1;
}

.navIcon {
  composes: navLink;
  font-size: 1.2rem;
  opacity: 1;
}

.icon {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .drawer {
    display: none;
  }

  .navLink {
    margin-right: 1rem;
  }

  .navSection {
    display: block;
  }

  .icon {
    margin-right: 0;
  }
}