.footerMain {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 1rem 0;
}

.navLogo {
   margin: 0.4rem;
}

.logo {
   max-width: 160px;
}

.navItem {
   text-align: end;
   margin: 0.4rem;
}

.navLink {
   font-size: 0.8rem;
   color: #FEFEFE !important;
}

.footerBottom {
   font-size: 0.6rem;
   font-weight: 300;
   text-align: center;
   padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
   .navLogo {
      flex: 3;
   }

   .logo {
      max-width: 200px;
   }

   .navItem {
      flex: 1;
   }
}