.bg1 {
   background-color: #FEFEFE;
   min-height: 18px;
}

.bg2 {
   background-color: #38B033;
   min-height: 15px;
}

.bg3 {
   background-color: #FEFEFE;
   min-height: 18px;
}

.bg4 {
   background-color: #017AB1;
}

.footerMain {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 1rem 0;
}

.navLogo {
   margin: 0 0.5rem;
}

.logo {
   max-width: 160px;
}

.navLink {
   font-size: 0.8rem;
   /* font-weight: 500; */
   text-align: end;
   margin: 0 0.5rem;
}

.footerBottom {
   font-size: 0.6rem;
   text-align: center;
   padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
   .navLogo {
      flex: 3;
   }

   .logo {
      max-width: 200px;
   }

   .navLink {
      flex: 1;
   }
}