.info {
   padding: 0.5rem 0;
}

.name {
   margin-bottom: 0.2rem;
   font-size: 0.8rem;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}

.price {
   font-size: 0.8rem;
   font-weight: 500;
}

@media (min-width: 576px) {
   .name {
      text-align: center;
      -webkit-line-clamp: 1;
   }

   .price {
      text-align: center;
   }
}